<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
	<!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
	<script src="js/script.js"></script>

	<title>ATTA</title>
</head>


<body>
	<div class="whole-court">
		<div class="doubles court-decor top-thick right-thin btm-thin left-thick">
		
		</div>

		<div class="base-line">

			<div class="base-line-btm court-decor top-thick right-think btm-thin left-think">

				<p>Singles Ladder Reporting</p>

				
			</div>

			<div class="base-line-top top-thin right-thin btm-thin left-thin">

				<div class="top-deuce court-decor right-thin">

					<!-- <md-input-container class="md-block" flex-gt-sm="">
						<label>First name</label>
						<input ng-model="user.firstName">
					</md-input-container> -->

					<form>
						<input type="text" name="winner-name">

					</form>

				</div>

				<div class="top-ad court-decor left-thin">
					
				</div>

			</div>
		</div>

		<div class="doubles court-decor top-thick right-thick btm-thin left-thin">

		</div>

		<div class="doubles court-decor top-thin right-thin btm-thick left-thick">
		
		</div>

		<div class="base-line">


			<div class="base-line-top top-thin right-thin btm-thin left-thin">

				<div class="top-deuce court-decor right-thin">
					<div layout-gt-xs="row">
				      <div flex-gt-xs>
				        <h4>Standard date-picker</h4>
				        <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
				      </div>
				    </div>
				</div>

				<div class="top-ad court-decor left-thin">
					
				</div>

			</div>

			<div class="base-line-btm court-decor top-thin right-thick btm-thick left-thick">
				
			</div>
		</div>

		<div class="doubles court-decor top-thin right-thick btm-thick left-thin">

		</div>

		
	</div>

	
	

</body>

</html>